# Comma-separated list of rules to disable (Since 0.34.0)
# Note that rules in any ruleset other than the standard ruleset will need to be prefixed
# by the ruleset identifier.
[*.{kt,kts,java,xml,gradle,md}]
ktlint_standard_comment-spacing = disabled
ktlint_standard_import-ordering = disabled
max_line_length = 180
ij_kotlin_packages_to_use_import_on_demand = ""
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
