# Comma-separated list of rules to disable (Since 0.34.0)
# Note that rules in any ruleset other than the standard ruleset will need to be prefixed
# by the ruleset identifier.
[*.{kt,kts,java,xml,gradle,md}]
ktlint_standard_argument-list-wrapping = disabled
ktlint_standard_comment-spacing = disabled
# seems to be broken for case of annotation/comment when it's generating wrong indentation
ktlint_standard_annotation = disabled
ktlint_standard_annotation-spacing = disabled
ktlint_standard_blank-line-before-declaration = disabled
ktlint_standard_chain-method-continuation = disabled
ktlint_standard_class-signature = disabled
ktlint_standard_comment-wrapping = disabled
ktlint_standard_function-expression-body = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_import-ordering = disabled
ktlint_standard_no-empty-first-line-in-method-block = disabled
ktlint_standard_property-wrapping = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_spacing-between-declarations-with-comments = disabled
ktlint_standard_spacing-between-declarations-with-annotations = disabled
ktlint_standard_wrapping = disabled
ktlint_standard_discouraged-comment-location = disabled
ktlint_standard_property-naming = disabled
ktlint_standard_function-naming = disabled
ktlint_standard_no-semi = disabled
ktlint_standard_if-else-wrapping = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_string-template-indent = disabled
ktlint_standard_statement-wrapping = disabled
ktlint_standard_no-empty-first-line-in-class-body = disabled
# disabled by default https://github.com/pinterest/ktlint/issues/3038
ktlint_standard_no-unused-imports = enabled
#ktlint rules
ktlint_standard = enabled

# currently disabled as it's false positive on all our XyzScreen(), and few reusable pieces in Defaults which don't have Modifier just for simplicity
# we need to probably create own ktlint rule to have better configurability, this is actually good to have lint rule
ktlint_compose_modifier-missing-check = disabled
# currently disabled due to complexity and unclear docs how to do more complex part in some helper modifiers
# https://mrmans0n.github.io/compose-rules/rules/#avoid-modifier-extension-factory-functions
ktlint_compose_modifier-composed-check = disabled
ktlint_compose_modifier-composable-check = disabled
ktlint_compose_vm-forwarding-check = disabled
ktlint_compose_compositionlocal-allowlist = disabled
ktlint_compose = enabled

max_line_length = 180
ij_kotlin_packages_to_use_import_on_demand = ""
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
root = true

[**/build/generated/**]
ktlint = disabled
